---
- name: Update apt
  apt: update_cache=yes

- name: Install Sys Packages
  apt: pkg={{ item }} state=latest
  with_items: sys_packages

- name: Install add-apt-repository
  apt: pkg=software-properties-common state=latest

- name: Make sure python-software-properties is installed
  apt: pkg=python-software-properties state=latest

- name: Add ppa Repository
  apt_repository: repo='ppa:ondrej/php5-5.6'

- name: Update apt
  apt: update_cache=yes